APP_ENV=prod
DB_PATH=./data/jobs.prod.sqlite
TMP_DIR=./tmp
LOG_FILE=./logs/worker.prod.log

VIMEO_TOKEN=

YT_CLIENT_ID=
YT_CLIENT_SECRET=
YT_REDIRECT_URI=http://localhost
YT_REFRESH_TOKEN=
YT_PRIVACY_STATUS=unlisted

WP_BASE_URL=https://seuWP.com
WP_APP_USER="seu-user"
WP_APP_PASS="xxxxxxxxxxxxxxxxxxxxxxxx"
WP_POST_TYPE=post
WP_META_KEY=url_do_youtube

BATCH_SIZE=50
CONCURRENCY=1
CLEANUP_OK=1
MAX_ATTEMPTS=3